pkgbase = ttf-tannenberg
	pkgdesc = Tannenberg is a Fraktur-family blackletter typeface, developed in Germany between 1933 and 1935 digitized by Dieter Steffmann.
	pkgver = 1.002
	pkgrel = 3
	url = https://github.com/speters33w/tannenberg-font
	arch = any
	license = custom:1001Fonts Free For Commercial Use License (FFC)
	source = https://github.com/speters33w/tannenberg-font/raw/main/tannenberg-font.tar.gz
	sha256sums = bb4d83df62df8074dfb9c69fd20b727ca3795e14c86466ea3981d065e5e7a6ea

pkgname = ttf-tannenberg
